<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reeva</title>
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="" alt="" srcset="">
            </div>

            <div class="div">
                <nav>
                    <a href="">Servicios</a>
                    <a href="">¿Por que?</a>
                    <a href="">Testimonios</a>
                    <a href="">Contacto</a>
                </nav>

                <div>
                    <button>Login</button>
                    <button>Registro</button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>