<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/login.css">
    <title>Reeva</title>
</head>
<body>
    <div id="iniciarform" class="ver">
        <h1>Iniciar Seccion</h1>
        <h2>Usuario</h2>
        <input type="text" placeholder="Usuario">
        <h2>Contraseña</h2>
        <input type="text" placeholder="Contraseña">
    </div>

    <div id="registerform" class="nover">
        <h1>Registrarse</h1>
        <h2>Nombre:</h2>
        <input type="text" placeholder="Nombre">
        <h2>Email:</h2>
        <input type="text" placeholder="Email">
        <h2>Contraseña:</h2>
        <input type="text" placeholder="Contraseña">
    </div>


    <button id="btniniciarsaccion">Iniciar Seccion</button>
    <button id="btnregistrarse">Registrarse</button>

</body>
<script src="/views/JS/login.js"></script>
</html>